p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  background-color: #edf5ef;
  display: flex;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.sidebar {
  width: 9%;
  background: #171b21;
  color: #009b1c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    .task_icon {
      padding-top: 20px;
      width: 40px;
    }
    .task_master {
      padding-top: 10px;
      color: #fff;
    }
    .add_icon {
      box-shadow: 2px -2px 5px 0px #003e0be5 inset,
        -2px 2px 4px 0px #00f82de5 inset, 2px 2px 4px 0px #003e0b33 inset,
        -2px -2px 4px 0px #003e0b33 inset, -1px 1px 2px 0px #003e0b80,
        1px -1px 2px 0px #00f82d4d;
      outline: none;
      border: none;
      background: #009b1c;
      font-size: 32px;
      padding: 4px 12px;
      margin-top: 15px;
      cursor: pointer;
      color: #fff;
      border-radius: 5px;
    }
  }
  .all_side_menus {
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    .single_side_menu:nth-child(2) {
      background: #009b1c;
      color: #fff;
    }
    .single_side_menu {
      cursor: pointer;
      box-shadow: -1px 1px 3px 0px #090b0de5, -1px -1px 2px 0px #090b0d33,
        1px -1px 2px 0px #090b0d inset, -1px 1px 2px 0px #252b35 inset;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0px;
      width: 100%;
      .single_side_menu_icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
      .single_side_menu_name {
        margin-top: 5px;
        font-weight: 600;
      }
    }
  }
}
.main {
  width: 91%;
  height: 100vh;

  .topbar {
    border-bottom: 1px solid #d8d8d8;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    .search_div {
      background: #edf5ef;
      border-radius: 7px;
      border: 1px solid #20313a33;
      width: fit-content;
      padding: 5px 8px;
      display: flex;
      align-items: center;
      gap: 7px;
      color: #20313a;
      box-shadow: 2px 2px 5px 0px #d1d8d2e5 inset,
        -2px -2px 4px 0px #ffffffe5 inset, 2px -2px 4px 0px #d1d8d233 inset,
        -2px 2px 4px 0px #d1d8d233 inset, -1px -1px 2px 0px #d1d8d280,
        1px 1px 2px 0px #ffffff4d;
      .input {
        background: transparent;
        outline: none;
        border: none;
        font-size: 16px;
      }
    }
    .topbar_right {
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 15px;
      .bell {
        width: 20px;
        border: 0.5px solid #009b1c;
        padding: 10px 12px;
        border-radius: 10px;
        box-shadow: 11px 11px 28px 0px #dfe5e1e5, -11px -11px 22px 0px #fbfffde5,
          11px -11px 22px 0px #dfe5e133, -11px 11px 22px 0px #dfe5e133,
          -1px -1px 2px 0px #dfe5e180 inset, 1px 1px 2px 0px #fbfffd4d inset;
        display: flex;
        align-items: center;
        justify-content: center;

        .bell_icon {
          font-size: 20px;
        }
      }
      .user_info {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 0.5px solid #009b1c;
        padding: 5px 10px;
        border-radius: 7px;
        width: 180px;
        height: 32px;

        .user_logo {
          width: 35px;
        }
        .texts {
          .name {
            color: #303030;
            font-weight: 600;
            font-size: 14px;
          }
          .role {
            color: #000;
            font-weight: 300;
            font-size: 12px;
          }
        }
        .down_arrow {
          margin-left: auto;
          cursor: pointer;
        }
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-top: 5px;
    .title {
      font-weight: 600;
      font-size: 28px;
      color: #20313a;
    }
    .create_btn {
      background: #016d24;
      color: #fff;
      box-shadow: 1px 1px 3px 0px #002c0ee5;
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 7px 25px;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 10px;
    .left {
      display: flex;
      align-items: center;
      gap: 15px;
      .single_option:nth-child(1) {
        background: #016d24;
        box-shadow: -1px 1px 3px 0px #002c0ee5 inset,
          1px -1px 2px 0px #02ae3ae5 inset, -1px -1px 2px 0px #002c0e33 inset,
          1px 1px 2px 0px #002c0e33 inset, 1px -1px 2px 0px #002c0e80,
          -1px 1px 2px 0px #02ae3a4d;
        span {
          color: #fff;
        }
        span:nth-child(1) {
          border-right: 1px solid #fff;
          padding-right: 7px;
        }
      }
      .single_option {
        background: linear-gradient(135deg, #f9fffb 0%, #e1e8e3 100%);
        box-shadow: 1px 1px 3px 0px #c9cfcbe5, -1px -1px 2px 0px #ffffffe5,
          1px -1px 2px 0px #c9cfcb33, -1px 1px 2px 0px #c9cfcb33,
          -1px -1px 2px 0px #c9cfcb80 inset, 1px 1px 2px 0px #ffffff4d inset;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        min-width: 60px;
        span {
          color: #000;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
      background: linear-gradient(135deg, #f9fffb 0%, #e1e8e3 100%);
      box-shadow: 1px 1px 3px 0px #c9cfcbe5, -1px -1px 2px 0px #ffffffe5,
        1px -1px 2px 0px #c9cfcb33, -1px 1px 2px 0px #c9cfcb33,
        -1px -1px 2px 0px #c9cfcb80 inset, 1px 1px 2px 0px #ffffff4d inset;
      padding: 5px 15px;
      border-radius: 10px;
      border: 1px solid #20313a33;
      .date {
        color: #20313a;
        font-size: 16px;
        font-weight: 600;
      }
      .calendar_icon {
        color: #20313a;
        cursor: pointer;
      }
    }
  }

  .table_body {
    width: 98%;
    margin: auto;
    height: calc(100vh - 180px);

    .meeting_header {
      width: calc(100% - 10px);
      margin-top: 15px;
      color: #525252;
      font-size: 14px;
      padding: 0px 8px;
      border-collapse: collapse;

      tr th {
        text-align: left;
        white-space: nowrap;
      }
      tr th:nth-child(1) {
        width: 12%;
      }
      tr th:nth-child(2) {
        width: 8%;
      }
      tr th:nth-child(3) {
        width: 15%;
      }
      tr th:nth-child(4) {
        width: 22%;
      }
      tr th:nth-child(5) {
        width: 10%;
      }
      tr th:nth-child(6) {
        width: 10%;
      }
      tr th:nth-child(7) {
        width: 10%;
      }
      tr th:nth-child(8) {
        width: 13%;
      }
    }

    .container {
      margin: 20px auto;
      height: calc(100% - 30px);
      padding-right: 7px;
      overflow-y: scroll;
      margin-top: 10px;

      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(161, 161, 161);
        height: 100px;
      }

      .meeting-block {
        background: linear-gradient(135deg, #f9fffb 0%, #e1e8e3 100%);
        box-shadow: 5px 5px 13px 0px #d5dcd7e5, -5px -5px 10px 0px #ffffffe5,
          5px -5px 10px 0px #d5dcd733, -5px 5px 10px 0px #d5dcd733,
          -1px -1px 2px 0px #d5dcd780 inset, 1px 1px 2px 0px #ffffff4d inset;
        border-radius: 8px;
        margin-bottom: 10px;
        padding: 10px 8px;
        border: 0.5px solid #009b1c;

        .meeting_frequency {
          width: 32%;
          display: flex;
          justify-content: end;

          .frequency_label {
            font-weight: 400;
            background: #d4d4d4;
            color: #00410c;
            border-radius: 5px;
            padding: 2px 10px;
            font-size: 14px;
          }
        }

        .meeting-table {
          width: 100%;
          border-collapse: collapse;

          tr td:nth-child(1) {
            width: 57%;
            padding: 12px 0px;
          }
          tr td:nth-child(2) {
            width: 10%;
          }
          tr td:nth-child(3) {
            width: 10%;
          }
          tr td:nth-child(4) {
            width: 10%;
          }
          tr td:nth-child(5) {
            width: 13%;
            padding-left: 5px;
          }

          .nested_table {
            border-right: 1px solid #c6e0dc;
            margin-right: 15px;
            td {
              border-bottom: 1px solid #c6e0dc;
            }
            tr td:nth-child(1) {
              width: 12%;
            }
            tr td:nth-child(2) {
              width: 8%;
            }
            tr td:nth-child(3) {
              width: 15%;
            }
            tr td:nth-child(4) {
              width: 22%;
            }
          }

          .date_div {
            display: flex;
            align-items: center;
            gap: 3px;

            .info_icon {
              font-size: 10px;
              color: #727272;
              padding: 2px 5px 3px 5px;
              border-radius: 4px;
              border: 1px solid #727272;
              cursor: pointer;
              &:hover {
                color: #000;
                border-radius: 1px solid #000;
              }
            }
          }
          .meeting_agenda {
            span {
              width: 50%;
              display: inline-block;
            }
            .agenda_btn {
              width: 40%;
              color: #fff;
              border-radius: 5px;
              border: none;
              padding: 3px 0px;
              cursor: pointer;
            }
            .view-mom {
              background: #016d24;
              box-shadow: 1px 1px 3px 0px #002c0ee5, -1px -1px 2px 0px #02ae3ae5,
                1px -1px 2px 0px #002c0e33, -1px 1px 2px 0px #002c0e33,
                -1px -1px 2px 0px #002c0e80 inset,
                1px 1px 2px 0px #02ae3a4d inset;
            }
            .update {
              background: #ff3518;
              box-shadow: 1px 1px 3px 0px #ff3518e5, -1px -1px 2px 0px #ff3518e5,
                1px -1px 2px 0px #ff351833, -1px 1px 2px 0px #ff351833,
                -1px -1px 2px 0px #ff351880 inset,
                1px 1px 2px 0px #ff35184d inset;
            }
          }

          td {
            color: #000;
            font-size: 15px;
            font-weight: 400;
          }

          .leader_img {
            border-radius: 50%;
            width: 30px;
            margin-right: 8px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .agenda_page {
    padding: 10px;
    height: calc(100% - 94px);
    .agenda_intro {
      display: flex;
      align-items: center;
      gap: 10px;

      .arrow_left {
        border: 1.5px solid #000;
        padding: 3px;
        border-radius: 3px;
        cursor: pointer;
      }

      .box {
        .meeting_agenda_title {
          font-size: 16px;
          color: #525252;
        }
        .meeting_agenda {
          color: #20313a;
          font-size: 32px;
        }
        .labels {
          display: flex;
          align-items: center;
          gap: 5px;
          .label {
            font-size: 14px;
            background: #d4d4d4;
            color: #00410c;
            padding: 2px 6px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            width: fit-content;
          }
        }
      }

      .create_btn {
        background: #016d24;
        color: #fff;
        box-shadow: 1px 1px 3px 0px #002c0ee5;
        border-radius: 5px;
        outline: none;
        border: none;
        padding: 7px 25px;
        font-size: 16px;
        cursor: pointer;
        margin-left: auto;
      }
    }
    .view_type {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 15px;
      .view_div {
        box-shadow: 1px 1px 3px 0px #c9cfcbe5, -1px -1px 2px 0px #ffffffe5,
          1px -1px 2px 0px #c9cfcb33, -1px 1px 2px 0px #c9cfcb33,
          -1px -1px 2px 0px #c9cfcb80 inset, 1px 1px 2px 0px #ffffff4d inset;
        background: linear-gradient(135deg, #f9fffb 100%, #e1e8e3 0%);
        border-bottom: 1px solid #edf5ef;
        border-radius: 8px;
        padding: 10px 15px;
        display: flex;
        cursor: pointer;
        .view_icon {
          width: 15px;
        }
      }
      .selected {
        background: #016d24;
        box-shadow: -1px 1px 3px 0px #002c0ee5 inset,
          1px -1px 2px 0px #02ae3ae5 inset, -1px -1px 2px 0px #002c0e33 inset,
          1px 1px 2px 0px #002c0e33 inset, 1px -1px 2px 0px #002c0e80,
          -1px 1px 2px 0px #02ae3a4d;
        border-bottom: 1px solid #edf5ef;
      }
      .calendar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        background: linear-gradient(135deg, #f9fffb 0%, #e1e8e3 100%);
        box-shadow: 1px 1px 3px 0px #c9cfcbe5, -1px -1px 2px 0px #ffffffe5,
          1px -1px 2px 0px #c9cfcb33, -1px 1px 2px 0px #c9cfcb33,
          -1px -1px 2px 0px #c9cfcb80 inset, 1px 1px 2px 0px #ffffff4d inset;
        padding: 5px 15px;
        border-radius: 10px;
        border: 1px solid #20313a33;
        margin-left: auto;
        .date {
          color: #20313a;
          font-size: 16px;
          font-weight: 600;
        }
        .calendar_icon {
          color: #20313a;
          cursor: pointer;
        }
      }
    }

    .agenda_lists {
      margin-top: 5px;
      height: calc(100% - 125px);
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(161, 161, 161);
        height: 100px;
      }

      .meeting {
        margin-top: 15px;
        padding: 15px;
        background-color: #eff9f0;
        border-radius: 8px;
        border: 0.5px solid #009b1c;
        box-shadow: 5px 5px 13px 0px #d5dcd7e5, -5px -5px 10px 0px #ffffffe5,
          5px -5px 10px 0px #d5dcd733, -5px 5px 10px 0px #d5dcd733,
          -1px -1px 2px 0px #d5dcd780 inset, 1px 1px 2px 0px #ffffff4d inset;

        .cover {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          .counter {
            margin-bottom: auto;
            font-weight: bold;
            color: #20313a;
          }

          .details {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-start;

            p {
              font-size: 16px;
              font-weight: bold;
            }
            .tag {
              font-size: 12px;
              padding: 3px 8px;
              border-radius: 10px;
              background: #d7d7d7;
              color: #5b6971;
              margin-right: 10px;
            }

            .no-mom-tag {
              background-color: #fcdcdc;
              color: #f44336;
            }
            .selected_tag {
              background: #d4e6d8;
              color: #20313a;
            }
          }
          .arrow_down {
            margin-left: auto;
            cursor: pointer;
          }
        }
        .form {
          margin-top: 10px;
          border-top: 1px solid #555;
          padding-top: 10px;
          margin-left: 2%;
          .textarea {
            width: calc(100% - 10px);
            border-radius: 5px;
            box-shadow: 2px 2px 5px 0px #d1d8d2e5 inset,
              -2px -2px 4px 0px #ffffffe5 inset,
              2px -2px 4px 0px #d1d8d233 inset, -2px 2px 4px 0px #d1d8d233 inset,
              -1px -1px 2px 0px #d1d8d280, 1px 1px 2px 0px #ffffff4d;
            background: #edf5ef;
            padding: 5px;
            outline: none;
          }
        }
      }
    }
  }
}
